# Godot 4+ specific ignores
.godot/
/android/

# Godot C# / .NET
.mono/
bin/
obj/
*.user

# Rider / IDE
.idea/

# Blender backups/autosaves (numbered .blend1, .blend2, ... and the @ autosave)
*.blend[0-9]*
*.blend@
